.hero {
    height:  1300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: honeydew;
    border: rgba(17, 17, 17, 0.397) solid 10px;
  }
  
  .hero::after {
    content: "";
    display: block;
    opacity: .2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: gray;
  }
  
  .hero * {
    position: relative;
    z-index: 2;
  }
  
  .hero1 {
    height: 1250px
  }

  .hero2 {
    height: fit-content

  }

  @media only screen and (max-width: 375px) {

    .hero2 {
      height: fit-content
    }

}
  
  .hero h1 {
    font-size: 80px;
    padding-top: 20px;
    margin-top: 0;
  }

  h2 {
    font-size: 40px;
    padding-top: 20px;
  }

  @media only screen and (max-width: 375px) {

    .hero h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 10px;
    }

    .fab .fa {
      size: 20px;
    }

}

.hero0 {
  background-color: rgba(245, 68, 68, 1);
}

.second {
  color: rgba(0, 58, 111, 1.0);
  color: black;
  margin-bottom: 150px;
  font-family: 'Merriweather', serif;
}

.third {
  padding: 30px;
  margin-bottom: 50px;
  color: rgb(228, 235, 135);
  color: white;
  font-family: 'Merriweather', serif;
}


